[submodule "vendor/stylo"]
	path = vendor/stylo
	url = https://github.com/PupilTong/stylo
	branch = lynx-contain
[submodule "vendor/quickjs"]
	path = vendor/quickjs
	url = https://github.com/PupilTong/quickjs
